{{ define "main" }}
<!-- Start of Slider section -->
{{ with .Params.slider }}
<section class="inner-banner">
  <div class="slider-child view1">
    <div
      class="slider-img-bg img-zooming"
      data-background="{{ .Newsbanner | absURL }}"
    ></div>
    <div class="background_overlay"></div>
    <div class="container">
      <div class="slider-content-box sec-title">
        <h1 class="p-0 m-0">{{ .Title }}</h1>
        <p class="mb-3">{{ .Desc }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- End of Slider section -->
{{ with .Params.block }}
<section class="sec-gap">
  <div class="container">
    <div class="sec-head sec-title title-middle text-center border-bottom mb-3">
      <span class="title-tag">{{ .question }}</span>
      <h2>{{ .title }}</h2>
    </div>
    <div class="sec-body">
      <div class="row g-3 g-lg-3 g-xl-5">
        <div class="col-lg-6 col-md-12">
          <div class="contact-form-text headline pera-content">
            <div class="contact-info">
              <div class="contact-child">
                <div class="contact-icon">
                  <i class="bx bx-map"></i>
                </div>
                <div class="contact-text pera-content headline">
                  <h4>{{ .address }}</h4>
                  <p>{{ .address2 }}</p>
                </div>
              </div>
              <!-- <div class="contact-child">
                                        <div class="contact-icon">
                                            <i class='bx bx-phone-call'></i>
                                        </div>
                                        <div class="contact-text pera-content headline">
                                            <h4>{{ .contact }}</h4>
                                            <p><strong><a href="tel:34651720792">{{ .phone }}: +34 651 720 792</a><br></strong>
                                                <a href="mailto:info@greenpwr.eu">{{ .email }}: info@greenpwr.eu</a>
                                            </p>
                                        </div>
                                    </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="contact-form-text headline pera-content">
            <div class="contact-info">
              <div class="contact-child">
                <div class="contact-icon">
                  <i class="bx bx-phone-call"></i>
                </div>
                <div class="contact-text pera-content headline">
                  <h4>{{ .contact }}</h4>
                  <p>
                    <strong
                      ><a href="tel:34651720792"
                        >{{ .phone }}: +34 651 720 792</a
                      ><br
                    /></strong>
                    <a href="mailto:info@greenpwr.eu"
                      >{{ .email }}: info@greenpwr.eu</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-6 col-md-12">
                            <div class="contact-info">
                                <div class="contact-child mb-0">
                                    <div class="contact-icon">
                                        <i class='bx bx-envelope-open' ></i>
                                    </div>
                                    <div class="contact-text pera-content headline">
                                        <h4>{{ .message }}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-form">
                                <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrYlfQCCukefnPBJ?backgroundColor=green" frameborder="0" onmousewheel="" width="100%" height="963" style="background: transparent; border: 1px solid #ccc;"></iframe> -->
        <!-- <form method="post" id="contact-form" >
                                        <div class="row g-3">
                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control required" name="fullname" id="fullname" placeholder="{{ .fullname }} *">
                                                    <label for="name">{{ .fullname }}*</label>
                                                    <strong class="text-danger" id="fail_fullname" style="display: none;">{{ .failfullname }}</strong>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <input type="email" class="form-control required email_validate" name="email" id="email" placeholder="{{ .email }} *">
                                                    <label for="email">{{ .email }}*</label>
                                                    <strong class="email text-danger" id="fail_email" style="display: none;">{{ .failemail }}</strong>
                                                    <strong class="email text-danger" id="fail_emailformat" style="display: none;">{{ .failemailformat }}</strong>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control required" name="subject" id="subject" placeholder="{{ .subject }} *">
                                                    <label for="subject">{{ .subject }}*</label>
                                                    <strong class="subject text-danger" id="fail_subject" style="display: none;">{{ .failsubject }}</strong>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <textarea class="form-control textarea" placeholder="{{ .comments }} *" id="message" name="message" style="height: 100px"></textarea>
                                                    <label for="floatingTextarea2">{{ .comments }}*</label>
                                                    <strong class="message text-danger" id="fail_comment" style="display: none;">{{ .failcomment }}</strong>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="btn-style1 submit-div">
                                                    <button class="btn-arrow btn contact-submit" type="submit" value="Submit">{{ .sendmsg }} <i class="arrow"></i></button>
                                                </div>
                                                <img src="{{ site.Params.loader | absURL }}" class="ajax-loader" style="display:none;height: 25px;width: 25px;" />
                                            </div>
                                            <span class="m-2 text-danger" id="failure_msg" style="display: none;">{{ .failuremsg }}</span>
                                            <span class="m-2 text-success" id="success_msg" style="display: none;">{{ .sucessmsg }}</span>
                                        </div>
                                    </form> -->

        <!-- </div>
                        </div>-->
      </div>
      <div class="row g-3 g-lg-3 g-xl-5">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8">
          <div class="contact-info">
            <div class="contact-child mb-0">
              <!-- <div class="contact-icon">
                                        <i class='bx bx-envelope-open' ></i>
                                    </div> -->
              <!-- <div class="contact-text pera-content headline">
                                        <h4>{{ .message }}</h4>
                                    </div> -->
            </div>
          </div>
          <div class="contact-form">
            <?php if($_SESSION['successmsg']){?>
            <div
              class="alert alert-success alert-dismissible fade show"
              role="alert"
            >
              <strong>
                <?php session_start(); echo $_SESSION['successmsg'];?>
              </strong>
            </div>
            <?php }unset($_SESSION['successmsg']); ?>
            <!-- Form Start-->
            <form
              action="https://greenpwr.eu/php/contact.php"
              method="post"
              id="form"
            >
              <div class="row g-3">
                <!-- <div class="col-12">
                                        <div class="form-floating">
                        
                                            <select class="field__input form-control" name="subject" id="subject">
                                                <option value="I am not a Greenpower Customer. Need to talk to Sales Department">I am not a
                                                    Greenpower Customer. Need
                                                    to talk to Sales Department</option>
                                                <option value="I am a Greenpower customer and I need support.">I am a Greenpower customer and I
                                                    need
                                                    support.</option>
                                                <option value="I want to chat about something else.">I want to chat about something else.
                                                </option>
                                            </select>
                                            <label id="resion_title">{{.subject}}</label>
                        
                                        </div>
                                    </div> -->
                <div class="col-12">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control required"
                      name="fullname"
                      id="fullname"
                      placeholder="Full Name *"
                    />
                    <label for="name">{{.fullname}}*</label>
                    <strong
                      class="text-danger"
                      id="fail_fullname"
                      style="display: none"
                      >{{ .failfullname }}</strong
                    >
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating">
                    <input
                      type="email"
                      class="form-control required email_validate"
                      name="email"
                      id="email"
                      placeholder="Email *"
                    />
                    <label for="email">{{.email}}*</label>
                    <strong
                      class="email text-danger"
                      id="fail_email"
                      style="display: none"
                      >{{ .failemail }}</strong
                    >
                    <strong
                      class="email text-danger"
                      id="fail_emailformat"
                      style="display: none"
                      >{{ .failemailformat }}</strong
                    >
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating">
                    <label for="email">{{.phone}}*</label>
                    <input
                      id="phone"
                      class="form-control required email_validate"
                      name="phone"
                      style="height: calc(3.5rem + 4px)"
                      type="tel"
                    />
                    <strong
                      class="message text-danger"
                      id="fail_phno"
                      style="display: none"
                      >{{ .failphone }}</strong
                    >
                    <strong
                      class="message text-danger"
                      id="fail_phno12"
                      style="display: none"
                      >{{ .failphone12 }}</strong
                    >
                    <strong
                      class="message text-danger"
                      id="fail_phnodigit"
                      style="display: none"
                      >{{ .failphonedigit }}</strong
                    >
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <select
                      class="form-control field__input"
                      name="language"
                      id="language"
                    >
                      <option value="English">English</option>
                      <option value="Spain">Spanish</option>
                      <option value="Germany">German</option>
                    </select>
                    <label id="">{{.language}}</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <textarea
                      class="form-control textarea"
                      placeholder="Comments *"
                      id="message"
                      name="message"
                      style="height: 100px"
                    ></textarea>
                    <label for="floatingTextarea2">{{.message}}*</label>
                    <strong
                      class="message text-danger"
                      id="fail_comment"
                      style="display: none"
                      >{{ .failcomment }}</strong
                    >
                  </div>
                </div>
                <label class="checkbox" for="newsletter">
                  <input
                    type="checkbox"
                    id="newsletter"
                    name="newsletter"
                    value="true"
                  />
                  {{.subscribe}}
                </label>
                <div class="col-12">
                  <div class="btn-style1 submit-div">
                    <button
                      class="btn-arrow btn contact-submit"
                      type="submit"
                      value="Submit"
                    >
                      {{ .sendmsg }} <i class="arrow"></i>
                    </button>
                  </div>
                  <img
                    src="https://greenpwr.eu/images/ajax-loader.gif"
                    class="ajax-loader"
                    style="height: 25px; width: 25px; display: none"
                  />
                  <!-- <p  class="success_msg" style='color:green'>{{.sucessmsg}}</p> -->
                </div>
              </div>
            </form>
            <!-- Form end-->
          </div>
        </div>
        <div class="col-lg-2 col-md-2"></div>
      </div>
    </div>
  </div>
</section>
{{ end }} {{- partial "sub-contact.html" . }} {{ end }}
